DATABASE_URL=
BETTER_AUTH_SECRET=awHE+kinBBYCIcerf2aiyqz99x+nmkMpxuBO1cEiTWM=
BETTER_AUTH_URL=http://localhost:3000
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=ctprefabrik
R2_PUBLIC_URL=https://cdn.hurtasbeton.com


SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-smtp-username
SMTP_PASS=your-smtp-password
SMTP_FROM=noreply@example.com


CONTACT_EMAIL_RECIPIENTS=admin@example.com,sales@example.com